@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --mida-font-min: 20px;
  --mida-font-max: 40px;
}


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-size: clamp(var(--mida-font-min), 4vw, var(--mida-font-max));
  line-height: 1.6;
  color: black;
/*  overflow-x: hidden;*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.art {
  font-size: 0.35em;
}

.art a {
  color: black;
}

.art img {
  width: 3%;
}

.art1 {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 5px;
}

.art2 {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 4px;
}

.art3 {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 5px;
}

.art4 {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 4px;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.3;
  justify-content: center;
  position: relative;
}

.fd1 {
  background-color: #f3f3f3;
}

.sticky0 {
  position: sticky;
  top: 0vw;
}

.sticky5 {
  position: sticky;
  top: 5vw;
}

.fd2 {
  background: #FFED00;
  width: 90%;
  margin: 0 auto;
}

section p {
  text-align: center;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 300;
  background: none;
}

.menu div {
  position: relative;
  display: flex;
  width: 100vw;
  height: 85%;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.menu a {
  color: black;
  display: contents;
}

.menu button {
  text-transform: uppercase;
}

.menu_btn {
  display: flex;
  margin: 0;
  font-size: 12px;
  position: fixed;
  bottom: 8px;
  z-index: 400;
  left: 44.7vw;
  border: 1px solid black;
  padding: .2rem;
  background: white;
  line-height: 1;
}


section a {
  color: black;
}

section a:active {
  color: black;
}


section a:visited {
  color: black;
}

section h1 {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1;
  width: 90%;
  margin: 1rem 0;
}


section h2 {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.25;
  width: 90%;
  margin: 1rem 0;
}


/*.vies {
  padding-bottom: 4rem;
  background: #FFED00;
  width: 90%;
  margin: 0 auto;
}*/

.oferta,
.proves {
  padding-bottom: 4rem;
  background: #f3f3f3;
}

.un {
  z-index: 2;
}

.dos {
  z-index: 3;
}

.oferta {
  position: sticky;
  z-index: 4;
}

.tres {
  z-index: 5;
}

#portesobertes {
  position: sticky;
  z-index: 6;
}

#preinscripcio {
  position: sticky;
  z-index: 7;
}

.matricula {
  z-index: 8;
}

.vies {
  position: sticky;
  z-index: 9;
}

.quatre {
  z-index: 11;
}

.cinc {
  position: sticky;
  z-index: 12;
}

.proves {
  position: sticky;
  z-index: 13;
}

.experiencies {
  position: sticky;
  z-index: 12;
}

.normativa {
  position: sticky;
  z-index: 13;
}

.footer {
  position: sticky;
  z-index: 14;
}

.matricula {
  background-color: #f3f3f3;
}

.experiencies {
  height: 60vh;
  background: #489fd8;
}

.portada {
  padding: 20px;
  height: 100vh;
}

.accessibilitat .portada {
  padding: 20px;
  height: 40vh;
}

.portada div {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo_dipta {
  position: absolute;
  top: 2px;
  width: 150px;
}

#fletxa {
  position: absolute;
  bottom: 10px;
  margin: 0;
  animation: adaltiabaix .8s infinite;
}

#gif_portada {
  width: 30%;
}

.portada svg {
  width: 100%;
  height: auto;
}

.portada p {
  margin: 2rem 0;
  font-size: 1.2rem
}

.portada h2 {
  z-index: 1;
  margin-bottom: 0;
}

.footer svg {
  width: 39%;
  margin: .2rem;
}

.imatge-sec {
  background: #FFED00;
  min-height: 96vh;
  height: 96vh;
}

.footer {
  background: #FFED00;
  min-height: 100vh;
}

.footer h2 {
  width: 90%;
  font-size: 1rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: normal;
  width: 90%;
  margin: 0 auto;
}

.imatge-sec img {
  width: 65%;
  margin: 3rem 0;
}

.quatre img {
  width: 90%;
  max-width: 90%;
}

.imatge-sec div,
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 2rem 0;
}

.footer p {
  margin: .5em 0;
}

.text-sec {
  min-height: 100vh;
}

button {
  font-family: "Inter", sans-serif;
  appearance: none;
  border: 1px solid black;
  border-top: none;
  width: 90%;
  height: 100%;
  background: white;
  padding: .5rem;
  font-size: .8rem;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.default {
  background: white;
  color: black;
}

button.hover {
  background: grey;
  color: black;
}

button.active {
  background: black;
  color: white;
}


.accordion>input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 15px;
  background: white;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  width: 90%;
}

.normativa .accordion .content {
  text-align: left;
}

.accordion .content img {
  width: 90%;
}

.accordion .content p {
  font-size: .7rem;
}

.normativa .accordion .content h3 {
  margin: 1em 0;
  font-size: .9rem;
}

.normativa .accordion .content ol,
.normativa .accordion .content ol li,
.normativa .accordion .content ul {
  margin: 0 0 0 .25em;
  font-size: .7rem;
}

.normativa .accordion .content li {
  margin: .5em 0;
}


.normativa .accordion .content p {
  font-size: .7rem;
  text-align: left;
}

.accordion>input[type="checkbox"]:checked~.content {
  max-height: 100000px;
  padding: 15px;
}

.accordion label {
  display: block;
}

.accordion {
  margin-bottom: 0;
}

.accordion>input[type="checkbox"]:checked~.content {
  padding: 15px;
  background: white;
  border: 1px solid black;
  border-top: none;
}

.accordion .handle {
  margin: 0;
  font-size: .8rem;
  line-height: 1.2em;
}

.accordion label {
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #eaeaea;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: space-between;
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.accordion .botop,
.botop {
  border-top: 1px solid black;
}

/*Slider*/

.experiencies {
  display: block;
}

.slider-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: calc(100vw * 11);
  transform: translateX(500vw);
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100vw;
  text-align: center;
  padding: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide em {
  color: rgba(255, 255, 255, .8);
}

.slider_btn {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(255, 255, 255, .5);
  align-items: center;
}

.slider_btn div {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider_btn p {
  position: relative;
  bottom: 70px;
}

#prevBtn p {
  transform: rotate(-90deg);
}

#nextBtn p {
  transform: rotate(270deg);
}


.cookies {
  position: fixed;
  top: 11px;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #fff;
  color: #000;
  font-family: Inter, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: .5rem;
}

.cookies h2 {
  width: 100%;
}

.cookies .accordion label {
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #fff;
  border: none;
  display: block;
  font-size: .7rem;
  padding: 0;
  line-height: 1.3;
}

.cookies .accordion label span {
  text-decoration: underline;
  display: inline-block;
  margin: 0 auto 1.3em;
}

.cookies .accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 15px;
  background: white;
  border: none;
  width: 100%;
  padding: 0;
}

.cookies .accordion>input[type="checkbox"]:checked~.content {
  border: none;
  padding: 0;
}

.cookies .accordion .content p:first-child {
  margin-top: 0;
}

.cookiesjsr-banner--info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cookies-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cookiesjsr-banner--text {
  font-size: .5rem;
  margin-right: 20px;
  line-height: 1.4;
}

.cookiesjsr-banner--text a {
  color: #000;
  text-decoration: underline;
}

.cookies-btn {
  background-color: #ffed00;
  color: #000;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: .5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 45%;
}

.cookies-btn.rejectAll {
  background-color: #ececec;
  border-color: #4d4d4d;
  color: #4d4d4d;
}

.cookies.active {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.cookies.hidden {
  display: none;
}


.cookies-preferences {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#analyticsLabel {
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: bold;
  margin-left: .25rem;
}

.toggle {
  appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 4.5em;
  height: 2em;
  padding: 0.2em;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0;
  overflow: hidden;
  background-color: #e6e6e6;
  transition: background ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 2em;
  height: 2em;
  font-family: system-ui;
  font-size: 1em;
  line-height: 2em;
  font-weight: 500;
  text-transform: uppercase;
  text-indent: -2em;
  word-spacing: 2.55em;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  background: #000;
  color: #000;
  transition: transform 0.3s;
}

.toggle:checked {
  background-color: #ffed00;
}

.toggle:checked:before {
  transform: translateX(2.5em);
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.5rem;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  word-break: break-word;
}

th {
  background-color: #f4f4f4;
}


@media only screen and (min-width: 768px) {
  table {
    font-size: 0.65rem;
  }

  .cookies {
    top: 5vw;
  }

  #gif_portada {
    width: 16%;
  }

  .sticky5 {
    position: sticky;
    top: 5vw;
  }

  .menu {
    top: -6px;
  }

  .menu div {
    height: 100%;
  }

  .menu_btn {
    font-size: 16px;
    bottom: 8px;
    left: 47.7vw;
  }

  .art img {
    width: 1.1vw;
  }

  #logo_dipta {
    width: 200px;
  }

  .footer svg {
    width: 18%;
  }

  .portada p {
    margin: 0.75rem 0;
    font-size: .75rem;
  }

  .imatge-sec {
    height: 87vh;
    min-height: 87vh;
  }

  .imatge-sec img {
    max-width: 30%;
    margin: 2.5rem 0;
  }

  .text-sec {
    min-height: 100vh;
    padding: 2rem 0;
  }

  section h2 {
    width: 70%;
  }

  .accordion .content {
    width: 70%;
  }

}